header {
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px -8px gray;
    height: 65px;
}

.logo {
    width: 158px;
    height: 49px;
    margin-top: 10px;
    margin-left: 25px;
}

.settingsBtn {
    float: right !important;
    color: #dbdbdb;
    margin-top: 15px;
    margin-right: 25px;
}